{% extends "base.html" %} {% block title %} Tilin hallinta {% endblock %} {%
block head %} {{ super() }} {% endblock %} {% block content %} {% if error %}
<div class="error">{{error}}</div>
{% endif %}
<a href="/deleteMe">Poista tilini</a>
<h4>Vaihda salasana</h4>
<form action="/changePassword" method="POST">
  <p>
    Nykyinen salasana<br />
    <input type="password" name="currentPassword" required/>
  </p>
  <p>
    Uusi salasana:<br />
    <input
      type="password"
      name="newPassword"
      required
      minlength="2"
      maxlength="20"
    />
  </p>
  <p>
    Uusi salasana uudelleen:<br />
    <input
      type="password"
      name="newPasswordVerification"
      required
      minlength="2"
      maxlength="20"
    />
  </p>
  <input type="submit" value="Vaihda salasana" />
</form>
<a href="/">Takaisin etusivulle</a>
{% endblock %}
